{% extends "base_generic.html" %}
{% block title %}{{ tour }}{% endblock %}
{% block header %}
    <a href="{{ tour.tournament.get_absolute_url }}">{{ tour.tournament }}</a> - {{ tour }}
{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row">
    <div class="col-md-8">
        <p>{{ tour.tour_status }}</p>
    </div>
</div>

{% if tour.tour_status == 'crt' and tour.previous_finished %}
    <div class="row">
        <form method="post" action="{% url 'tour-start' tour.tour_slug %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Начать тур</button>
        </form>
    </div>
{% endif %}

{% if tour.tour_status == 'act' or tour.tour_status == 'fin' %}
    <div class="row">
        {% if tour.matches %}
            <ul>
                {% for match in tour.matches.all %}
                <li>
                    <a href="{{ match.get_absolute_url }}">{{ match }}</a>
                    <p>{{ match.opp1_gp }} : {{ match.opp2_gp }}</p>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no matches yet.</p>
        {% endif %}
    </div>
    {% if user.is_staff and tour.tour_status == 'act' %}
        <div class="row">
            <div class="col-sm-3">
                <form action="{% url 'tour-results' tour.tour_slug %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">Обновить результаты матчей</button>
                </form>
            </div>
            {% if tour.all_results_ready %}
                <div class="row">
                    <button type="button" class="btn btn-danger" onclick=showModal()>Завершить тур</button>
                </div>
                <div class="modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <form method="post" action="{% url 'tour-finish' tour.tour_slug %}">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <p>Вы уверены, что готовы завершить тур?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=closeModal()>Close</button>
                                    <button type="submit" class="btn btn-primary btn-danger">Завершить тур</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}

{% if tour.tour_status == 'fin' and json_stat is not None %}
    <div class="row">
        <table class="table table-sm"">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Player</th>
                <th scope="col">Game Points</th>
                <th scope="col">Difference</th>
                <th scope="col">Tournament Points</th>
            </tr>
        </thead>
        <tbody>
            {% for record in json_stat %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{% url 'player-detail' record.player__id %}">{{ record.player__username }}</a></td>
                <td>{{ record.game_points }}</td>
                <td>{{ record.difference }}</td>
                <td>{{ record.tournament_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}