{% extends "base_generic.html" %}
{%block header%}<a href="{{ tour.get_absolute_url }}">{{ tour }}</a>{%endblock%}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {% for form in formset %}
            <tr>
                <td>
                    <ul class="list-inline">{{ form.as_ul }}</ul>
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Сохранить изменения" class="btn btn-primary">
    </form>
{% endblock %}
