<div class="card mb-3 mt-1 shadow-sm">
  <div class="card-header">
    <a href="{% url 'tournament-detail' tournament.tt_slug %}">Турнир {{ tournament.title }}</a>
  </div>
  <ul class="list-group list-group-flush">
    {% if tournament.organizer %}
    <li class="list-group-item">
      Организатор: {{ tournament.organizer }}
    </li>
    {% endif %}
    <li class="list-group-item">
      Начало: {{ tournament.start_date }} - {{ tournament.start_time }}
    </li>
    <li class="list-group-item">
      Категория: {{ tournament.get_tt_category_display }}
    </li>
    <li class="list-group-item">
      Тип: {{ tournament.get_tt_type_display }}
    </li>
    <li class="list-group-item">
      Количество туров: {{ tournament.tours_amount }}
    </li>
    <li class="list-group-item">
      Текущий статус: {{ tournament.get_tt_status_display }}
    </li>
    <li class="list-group-item">
      Участников: {{ tournament.registered_players.count }}
    </li>
    {% if user.is_authenticated %}
    {% if tournament.organizer == user %}
    {% if tournament.tt_status == 'ann' %}
    <li class="list-group-item">
      <a class="btn btn-outline-dark" href="{% url 'tournament-open-registration' tournament.tt_slug %}" role="button">
        Открыть регистрацию
      </a>
    </li>
    {% elif  tournament.tt_status == 'reg' %}
    <li class="list-group-item">
      <a class="btn btn-outline-dark" href="{% url 'tournament-close-registration' tournament.tt_slug %}" role="button">
        Закрыть регистрацию
      </a>
    </li>
    {% elif tournament.tt_status == 'creg' %}
    <li class="list-group-item">
      <a class="btn btn-outline-dark" href="{% url 'tournament-start' tournament.tt_slug %}" role="button">
        Начать турнир
      </a>
    </li>
    {% endif %}

    {% else %}

    <li class="list-group-item">
      {% if tournament.id in tournaments_reglist %}
      <a class="btn btn-outline-dark" href="#" role="button">
        Покинуть турнир
      </a>
      {% else %}
      <a class="btn btn-outline-dark" href="{% url 'tournament-reg' tournament.tt_slug %}" role="button">
        Принять участие
      </a>
      {% endif %}
    </li>

    {% endif %}
    {% endif %}
  </ul>
</div>
