{% extends "base_generic.html" %}
{% block title %}Tournaments{% endblock %}
{% block header %}Tournaments{% endblock %}
{% block content %}
{% load user_filters %}
{% if user.is_staff %}
<a class="btn btn-dark btn-lg mb-2" href="{% url 'tournament-crt' %}" role="button">
  Открыть новый турнир
</a>
{% endif %}
{% if tournaments_list %}
{% for tournament in tournaments_list %}
{% include "tournament_card.html" with tournament=tournament %}
{% endfor %}
{% else %}
<p>There are no tournaments yet.</p>
{% endif %}
{% endblock %}
