{% extends "base_generic.html" %}
{% block title %}{{ tournament }}{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row">
  {% include "include/cards/tournament_card.html" with tournament=tournament %}
</div>

{% if tournament.reg_is_open_or_close and players_stat is not None %}
{% if odd_number_flag %}
<div class="row">
  <div class="col-sm-6 mb-3">
    <form class="form-inline" method="post" action="{% url 'player_add_bot' tournament.tt_slug %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ proxy_bot_form.proxy_bot.label }}
      </div>
      <div class="form-group mx-sm-3">
        {{ proxy_bot_form.proxy_bot|addclass:"form-control" }}
      </div>
      <button type="submit" class="btn btn-outline-dark"> Добавить</button>
    </form>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-sm-4">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Ник</th>
          <th scope="col">Армия</th>
        </tr>
      </thead>
      <tbody>
        {% for record in players_stat %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>
            <a href="{% url 'player-detail' record.player.id %}">
              {{ record }}
            </a>
            {% if tournament.superviser == user %}
            <a href="{% url 'player_delete' tournament.tt_slug record.player.id %}" role="button">
              <i class="fas fa-user-times ml-1"></i>
            </a>
            {% endif %}
          </td>
          <td>{{ record.army }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}

{% if tournament.is_act_or_fin %}
<div class="row">
  {% for tour in tournament.tours.all %}
  {% include "include/cards/tour_card.html" with tour=tour %}
  {% endfor %}
</div>

<div class="row">
  {% include "include/results_table.html" with players_stat=players_stat %}
</div>
{% endif %}

{% endblock %}
