{% extends "base_generic.html" %}

{% block title %}Arkenstone Matched Play{% endblock %}
{% block content %}
  <h1>MP home</h1>
  <p>Welcome to Arkenstone, a website developed by <em>Lejbron</em>!</p>
  <h2>Dynamic content</h2>
  <p>Arkenstone has the following objects counts:</p>
  <ul>
    <li><strong>Tournaments:</strong> </li>
    <li><a href="{% url 'players-list' %}"><strong>Players:</strong></a> {{ players_amount }}</li>
  </ul>

  <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}