<div class="col-sm-3">
  <div class="card mb-3 mt-1 shadow-sm">
    <div class="card-body">
      <h5 class="card-title text-center"><a href="{{ match.get_absolute_url }}">{{ match.table }} стол</a></h5>
      <div class="card-text text-center">
        <p>
          <a href="{% url 'player-detail' match.opp1.player.id %}">
            {{ match.opp1 }}
          </a>
          vs
          <a href="{% url 'player-detail' match.opp2.player.id %}">
            {{ match.opp2 }}
          </a>
        </p>
        <p>{{ match.opp1.army }} vs {{ match.opp2.army }}</p>
        <p>{{ match.opp1_gp }} : {{ match.opp2_gp }}</p>
      </div>
    </div>
  </div>
</div>
