<div class="card mb-3 mt-1 shadow-sm">
  <div class="card-header">
    <a class="h4" href="{% url 'tournament-detail' tournament.tt_slug %}">{{ tournament.title }}</a>
    {% if tournament.tt_category == 'rtg' %}
    <i class="fas fa-crown" title="Рейтинговый турнир" style="color: rgb(255, 187, 0);"></i>
    {% elif tournament.tt_category == 'nrt' %}
    <i class="fas fa-dungeon" title="Нарративный турнир" style="color: rgba(255, 187, 0, 0.87);"></i>
    {% elif tournament.tt_category == 'nyt' %}
    <i class="fas fa-candy-cane" title="Новогодний турнир" style="color: rgba(225, 136, 252, 0.925);"></i>
    {% endif %}
    {% if tournament.tt_type == 's' %}
    <i class="fas fa-user" title="Одиночный турнир" style="color: rgba(122, 223, 101, 0.829);"></i>
    {% elif tournament.tt_type == 'd' %}
    <i class="fas fa-user-friends" title="Парный турнир" style="color: rgba(122, 223, 101, 0.829);"></i>
    {% elif tournament.tt_type == 't' %}
    <i class="fas fa-users" title="Командный турнир" style="color: rgba(122, 223, 101, 0.829);"></i>
    {% endif %}
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      {{ tournament.start_date }} в {{ tournament.start_time }}, {{ tournament.tours_str }}, <a href="{% url 'player-detail' tournament.superviser.id %}">{{ tournament.superviser }}</a>
    </li>
    {% if user.is_authenticated %}
    {% if tournament.superviser == user %}
    {% if tournament.tt_status == 'ann' %}
    <li class="list-group-item">
      <a class="btn btn-outline-dark" href="{% url 'tournament-open-reg' tournament.tt_slug %}" role="button">
        Открыть регистрацию
      </a>
    </li>
    {% elif  tournament.tt_status == 'reg' %}
    <li class="list-group-item">
      <a class="btn btn-outline-dark" href="{% url 'tournament-close-reg' tournament.tt_slug %}" role="button">
        Закрыть регистрацию
      </a>
    </li>
    {% elif tournament.tt_status == 'creg' %}
    <li class="list-group-item">
      <a class="btn btn-outline-dark" href="{% url 'tournament-start' tournament.tt_slug %}" role="button">
        Начать турнир
      </a>
    </li>
    {% endif %}
    {% else %}
    {% if  tournament.tt_status == 'reg' %}
    {% if tournament.id in tournaments_reglist %}
    <li class="list-group-item">
      <a class="btn btn-outline-dark" href="#" role="button">
        Покинуть турнир
      </a>
    </li>
    {% else %}
    <li class="list-group-item">
      <a class="btn btn-outline-dark" href="{% url 'tournament-reg' tournament.tt_slug %}" role="button">
        Принять участие
      </a>
    </li>
    {% endif %}
    {% endif %}
    {% endif %}
    {% endif %}
  </ul>
</div>

<div class="modal fade" id="quantityWarning" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Внимание</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Зарегистрировалось нечетное количество участников!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Понятно</button>
      </div>
    </div>
  </div>
</div>

{% if quantity_flag %}
<script type="text/javascript">
  $(document).ready(function() {
    $("#quantityWarning").modal('show');
  });
</script>
{% endif %}
