{% extends "base_generic.html" %}
{%block header%}<a href="{{ tour.get_absolute_url }}">{{ tour }}</a>{%endblock%}
{% block content %}
{% load user_filters %}
<form action="" method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="row ">
    {% for form in formset %}
    <div class="col-sm-3">
      <div class="card mb-3 mt-1 shadow-sm">
        <div class="card-body">
          {% for field in form %}
          <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
            <div class="col-sm-12">
              {{ field|addclass:"form-control" }}
              {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
              {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <input type="submit" value="Сохранить изменения" class="btn btn-primary">
</form>
{% endblock %}
