{% extends "base_generic.html" %}
{% block content %}

    <h1><a href="{{ tour.get_absolute_url }}">{{ tour }}</a></h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tr>
                <td>
                    <ul class="list-inline">{{ form.as_ul }}</ul>
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Сохранить изменения" class="btn btn-primary">
    </form>

{% endblock %}
