{% extends "base_generic.html" %}
{% block title %}{{ tour }}{% endblock %}
{% block header %}
    <a href="{{ tour.tournament.get_absolute_url }}">{{ tour.tournament }}</a> - {{ tour }}
{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row">
    <div class="col-md-8">
        <p>{{ tour.tour_status }}</p>
    </div>
</div>
{% if tour.tour_status == 'crt' or tour.tour_status == 'act' or tour.tour_status == 'fin' %}
    <div class="row">
        {% if matches %}
            <ul>
                {% for match in matches %}
                <li>
                    <a href="{{ match.get_absolute_url }}">{{ match }}</a>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no matches yet.</p>
        {% endif %}
    </div>
    <div class="row">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Player</th>
            <th scope="col">Game Points</th>
            <th scope="col">Difference</th>
            <th scope="col">Tournament Points</th>
            </tr>
        </thead>
        <tbody>
            {% for record in players_stat %}
            <tr>
                <td><a href="{% url 'player-detail' record.player.id %}">{{ record }}</a></td>
                <td>{{ record.game_points }}</td>
                <td>{{ record.difference }}</td>
                <td>{{ record.tournament_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}