{% extends "base_generic.html" %}
{% block title %}{{ tour }}{% endblock %}
{% block header %}
    <a href="{{ tour.tournament.get_absolute_url }}">{{ tour.tournament }}</a> - {{ tour }}
{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row">
    <div class="col-md-8">
        <p>{{ tour.tour_status }}</p>
    </div>
</div>

{% if tour.tour_status == 'crt' and tour.previous_finished %}
    <button type="button" class="btn btn-primary" onclick=showModal()>Начать тур</button>
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick=closeModal()>
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form method="post" action="{% url 'tour-start' tour.tour_slug %}">
                    <div class="modal-body">
                        {% csrf_token %}
                        <p>Вы уверены, что готовы начать тур?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=closeModal()>Close</button>
                        <button type="submit" class="btn btn-primary">Начать тур</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% if tour.tour_status == 'act' %}
    <div class="row">
        {% if tour.matches %}
            <ul>
                {% for match in tour.matches.all %}
                <li>
                    <a href="{{ match.get_absolute_url }}">{{ match }}</a>
                    <p>{{ match.opp1_gp }} : {{ match.opp2_gp }}</p>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no matches yet.</p>
        {% endif %}
    </div>
    <div class="row">
        <form action="{% url 'tour-results' tour.tour_slug %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Обновить результаты матчей</button>
        </form>
        {% if tour.all_results_ready %}
            <form action="{% url 'tour-finish' tour.tour_slug %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Завершить тур</button>
            </form>
        {% endif %}
    </div>
{% endif %}

{% if tour.tour_status == 'fin' and json_stat is not None %}
    <div class="row">
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Player</th>
            <th scope="col">Game Points</th>
            <th scope="col">Difference</th>
            <th scope="col">Tournament Points</th>
            </tr>
        </thead>
        <tbody>
            {% for record in json_stat %}
            <tr>
                <td><a href="{% url 'player-detail' record.player__id %}">{{ record.player__username }}</a></td>
                <td>{{ record.game_points }}</td>
                <td>{{ record.difference }}</td>
                <td>{{ record.tournament_points }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endif %}

{% endblock %}