{% extends "base_generic.html" %}
{% block content %}

    <h1>Edit pairs for {{ tour }}</h1>

    <form action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table>
            {% for form in formset %}
            <tr>
                <td>
                    <ul class="list-inline">{{ form.as_ul }}</ul>
                </td>
            </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Accept Editions" class="btn btn-primary">
    </form>

{% endblock %}
