{% extends "base_generic.html" %}
{% block title %}{{ player }}{% endblock %}
{% block header %} {{ player }} {% endblock %}
{% block content %}
{% load user_filters %}

<div class="row">
    <div class="col-md-8">
        <p>{{ player.profile.birth_date }}</p>
    </div>
</div>

<div class="row">
    {% if armies %}
        <ul>
            {% for army in armies %}
            <li>
                <p>{{ army }}</p>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Player has no armies yet.</p>
    {% endif %}

    {% endblock %}
</div>