{% extends "base_generic.html" %}
{% block title %}{{ player }}{% endblock %}
{% block header %} {{ player }} {% endblock %}
{% block content %}
{% load user_filters %}

<div class="row">
  <div class="col-md-8">
    <p>{{ player.profile.birth_date }}</p>
  </div>
</div>

<div class="row">
  {% if player_info %}
  <ul>
    {% for record in player_info %}
    <li>
      <a href="{{ record.tournament.get_absolute_url }}">{{ record.tournament }}</a>
      <p>{{ record.army }}</p>
      <p>{{ record.played_on_tables }}</p>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p>Player has no tournaments yet.</p>
  {% endif %}
</div>
{% endblock %}
