{% extends "base_generic.html" %}
{% block title %}Пользователи{% endblock %}
{% block header %}Пользователи{% endblock %}
{% block content %}
{% load user_filters %}

<div class="row">
  {% if users_list %}
      <ul>
        {% for plr in users_list %}
          <li>
            <p>
              <a href="{% url 'player-detail' plr.id %}">{{ plr }}</a>
            </p>
          </li>
        {% endfor %}
      </ul>
  {% else %}
    <p>There are no players yet.</p>
  {% endif %}
</div>

{% endblock %}